In [7]:
%run utils.ipynb

In [21]:
hb_df = pd.read_csv(dataset_path, sep=';').drop(['Unnamed: 0', 'patient_id'], axis=1)

In [22]:
# Fill missing dataset in the dataset
hb_df, _ = knn_impute_missing_data(hb_df)
hb_df, _ = round_columns_to_allowed_values(hb_df, 
                                           columns_to_round= ['alcohol_scale', 'diary_mood_avg', 'diary_sleep_avg', 'diary_stress_avg'])

In [23]:
# Features engineering
## MASS is the abreviation of Mood Alcohol Stress Sleep
hb_df['mass_score'] = hb_df.apply(lambda r: create_mass_score(r), axis=1)

In [24]:
# Hot-encode columns
#hb_df = pd.get_dummies(hb_df, columns=['course'])

In [25]:
hb_df

,sign_ins,engagement_min,to_assessment,course,gender,age,pre_existing_medical_condition,alcohol_scale,diary_mood_avg,diary_sleep_avg,diary_stress_avg,unsuccessful_outcome,mass_score
0,9.0,12.152288,0.166139,depression,male,42.0,no,1,0,2,3,0.0,1.1
1,7.0,5.718699,0.036798,depression,male,51.0,yes,2,4,2,1,0.0,2.8
2,3.0,0.452305,0.000230,depression,female,46.0,no,1,5,5,1,0.0,3.8
3,18.0,97.201045,10.628513,sleep,other,69.0,no,3,4,0,5,0.0,2.1
4,10.0,16.669937,0.312615,chronic_pain,female,48.0,yes,3,3,3,3,0.0,3.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,18.0,97.201512,10.628618,stress,female,35.0,yes,5,5,1,5,0.0,4.2
9996,15.0,56.252069,3.559654,depression,female,67.0,yes,0,3,3,3,0.0,2.7
9997,17.0,81.884775,7.542886,sleep,other,21.0,yes,2,2,0,4,0.0,1.4
9998,18.0,97.201281,10.628571,chronic_pain,other,44.0,yes,4,5,5,4,0.0,4.6
9999,17.0,81.885040,7.542930,sleep,other,34.0,yes,4,3,1,4,0.0,2.3

In [26]:
#hb_df = hb_df[['to_assessment', 'course_burnout', 'course_chronic_pain', 'course_depression', 'course_sleep', 'course_stress', 'gender', 'age', 'pre_existing_medical_condition', 'mass_score', 'unsuccessful_outcome']]
hb_df = hb_df[['to_assessment', 'course', 'gender', 'age', 'pre_existing_medical_condition', 'mass_score', 'unsuccessful_outcome']]

In [28]:
# Save to parcquet file
hb_df.to_parquet(processed_dataset_path)

In [29]:
hb_df

,to_assessment,course,gender,age,pre_existing_medical_condition,mass_score,unsuccessful_outcome
0,0.166139,depression,male,42.0,no,1.1,0.0
1,0.036798,depression,male,51.0,yes,2.8,0.0
2,0.000230,depression,female,46.0,no,3.8,0.0
3,10.628513,sleep,other,69.0,no,2.1,0.0
4,0.312615,chronic_pain,female,48.0,yes,3.0,0.0
...,...,...,...,...,...,...,...
9995,10.628618,stress,female,35.0,yes,4.2,0.0
9996,3.559654,depression,female,67.0,yes,2.7,0.0
9997,7.542886,sleep,other,21.0,yes,1.4,0.0
9998,10.628571,chronic_pain,other,44.0,yes,4.6,0.0
9999,7.542930,sleep,other,34.0,yes,2.3,0.0